.editor {
    position: relative;
    height: 0px;
    display: none;
}
.editorPanel {
    position: absolute;
    left: 0px;
    top: 0;
    display: none;
    z-index: 20;
}

.isChild:hover > .editorPanel,
.isParrent:hover > .editorPanel {
    display: block;
}
.isParrent:hover {
    padding-top: 15px ;
    border: 1px dashed royalblue !important;
}
.isChild:hover {
    border: 1px dashed royalblue !important;
}

.engine {
	display: flex;
}
.generatorSideBar {
	width: 0;
	flex-shrink: 0;
	border-left: 1px solid #ccc;
	padding: 0;
	min-height: 100vh;
    transition: all 250ms;
    overflow-x: hidden;
    transition: all 250ms;
}
.template {
	width: 100%;
}
.generatorSideBar.active {
    padding: 5px;
    width: 400px;
}

.floatBox {
	background-color: white;
    border: 1px solid #444;
    position: fixed;
	width: 350px;
    z-index: 3;
    top: 10vh;
    left: 10vw;
}

.floatBoxTitle {
	height: 25px;
	cursor: move;
	background-color: #18a689;
	padding: 5px 10px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.floatBoxBody {
    padding: 5px;
}