.editor {
    position: relative;
    height: 0px;
    display: none;
}
.parentPanel {
    position: absolute;
    left: 0px;
    bottom: 100%;
    display: none;
}
.childPanel {
    position: absolute;
    left: 0;
    bottom: 100%;
    display: none;
}
.el:hover > .childPanel,
.el:hover > .parentPanel {
    display: block;
}
.el:hover {
    border: 1px dashed royalblue !important;
}

.floatBox {
	background-color: white;
    border: 1px solid #444;
    position: fixed;
	width: 350px;
    z-index: 3;
    top: 10vh;
    left: 10vw;
}

.floatBoxTitle {
	height: 25px;
	cursor: move;
	background-color: #18a689;
	margin-bottom: 15px;
	padding: 5px 10px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.floatBoxBody {
    padding: 5px;
}