.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


// Width
.col-12 {width: calc((100% / 12) * 12); padding: 3px; box-sizing: border-box;}
.col-11 {width: calc((100% / 12) * 11); padding: 3px; box-sizing: border-box;}
.col-10 {width: calc((100% / 12) * 10); padding: 3px; box-sizing: border-box;}
.col-9 {width: calc((100% / 12) * 9); padding: 3px; box-sizing: border-box;}
.col-8 {width: calc((100% / 12) * 8); padding: 3px; box-sizing: border-box;}
.col-7 {width: calc((100% / 12) * 7); padding: 3px; box-sizing: border-box;}
.col-6 {width: calc((100% / 12) * 6); padding: 3px; box-sizing: border-box;}
.col-5 {width: calc((100% / 12) * 5); padding: 3px; box-sizing: border-box;}
.col-4 {width: calc((100% / 12) * 4); padding: 3px; box-sizing: border-box;}
.col-3 {width: calc((100% / 12) * 3); padding: 3px; box-sizing: border-box;}
.col-2 {width: calc((100% / 12) * 2); padding: 3px; box-sizing: border-box;}
.col-1 {width: calc(100% / 12); padding: 3px; box-sizing: border-box;}
.col {width: 100%; padding: 3px; box-sizing: border-box;}

//Margin
.m-12 {margin:0 calc((100% / 12) * 12);}
.m-11 {margin:0 calc((100% / 12) * 11);}
.m-10 {margin:0 calc((100% / 12) * 10);}
.m-9 {margin:0 calc((100% / 12) * 9);}
.m-8 {margin:0 calc((100% / 12) * 8);}
.m-7 {margin:0 calc((100% / 12) * 7);}
.m-6 {margin:0 calc((100% / 12) * 6);}
.m-5 {margin:0 calc((100% / 12) * 5);}
.m-4 {margin:0 calc((100% / 12) * 4);}
.m-3 {margin:0 calc((100% / 12) * 3);}
.m-2 {margin:0 calc((100% / 12) * 2);}
.m-1 {margin:0 calc(100% / 12);}

//Margin Right
.mr-12 {margin-right: calc((100% / 12) * 12);}
.mr-11 {margin-right: calc((100% / 12) * 11);}
.mr-10 {margin-right: calc((100% / 12) * 10);}
.mr-9 {margin-right: calc((100% / 12) * 9);}
.mr-8 {margin-right: calc((100% / 12) * 8);}
.mr-7 {margin-right: calc((100% / 12) * 7);}
.mr-6 {margin-right: calc((100% / 12) * 6);}
.mr-5 {margin-right: calc((100% / 12) * 5);}
.mr-4 {margin-right: calc((100% / 12) * 4);}
.mr-3 {margin-right: calc((100% / 12) * 3);}
.mr-2 {margin-right: calc((100% / 12) * 2);}
.mr-1 {margin-right: calc(100% / 12);}

//Margin Left
.ml-12 {margin-left: calc((100% / 12) * 12);}
.ml-11 {margin-left: calc((100% / 12) * 11);}
.ml-10 {margin-left: calc((100% / 12) * 10);}
.ml-9 {margin-left: calc((100% / 12) * 9);}
.ml-8 {margin-left: calc((100% / 12) * 8);}
.ml-7 {margin-left: calc((100% / 12) * 7);}
.ml-6 {margin-left: calc((100% / 12) * 6);}
.ml-5 {margin-left: calc((100% / 12) * 5);}
.ml-4 {margin-left: calc((100% / 12) * 4);}
.ml-3 {margin-left: calc((100% / 12) * 3);}
.ml-2 {margin-left: calc((100% / 12) * 2);}
.ml-1 {margin-left: calc(100% / 12);}