.tabHeader {
	flex-grow: 1;
	background: #534340;
	height: 45px;
	padding-top: 10px;
	box-sizing: border-box;
	text-align: center;
	color: white;
	font-size: 14px;
    cursor: pointer;
    transition: all 250ms;
}
.tabHeader:hover {
	background-color: #dfe6ad;
	color: black;
}

.tabHeader.tabActive{
    border-radius: 15px 15px 0 0;
	background-color: white;
    border: 1px solid black;
    color: black;
    border-bottom: none;
}